.petNameDisplay, .actionButtons, .status {
  display: none;
}

 #pusheenLonelyImage, #pusheenHungryImage,  #pusheenSleepyImage, #pusheenImage {
  display: none;
}

.hidden {
  display: none;
}

.container {
  text-align: center;
  margin-top: 50px;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  padding: 40px;
  width: 500px;
}

.actionButtons {
  margin-bottom: 2em;
}

img {
  margin-bottom: 20px;
}
